{% extends "layout.html" %}

{% block body %}

<style>
  .custom_title {
    font-size: 30px;
  }
</style>

{{ error }}
<p class="custom_title">
  Kirjaudu
</p>

<form class="form-horizontal" method="POST" action="{{ url_for('auth_login') }}">

  <div class="form-group">
    <label for="username">{{ form.username.label }}</label>
    {{ form.username(class="form-control") }}
  </div>

  <div class="form-group">
    <label for="password">{{ form.password.label }}</label>
    {{ form.password(class="form-control") }}
  </div>

  <button type="submit" class="btn btn-outline-dark">Kirjaudu</button>

</form>
{% endblock %}
