{% extends "layout.html" %}

{% block body %}
  <style>
    th {
      background-color: #9aad99;
    }
    td.no_border {
      border-right-style: hidden;
      border-top-style: hidden;
      border-bottom-style: hidden;
    }
    .custom_title {
      font-size: 30px;
    }
  </style>

  <p class="custom_title">
    Kategorian {{ nimi }} kasvit
  </p>

  <table class="table table-bordered">
    <thead class="font-weight-lighter">
      <tr>
        <th>Kasvi</th>
        <th>Latinankielinen nimi</th>
        <th>Vedentarve</th>
        <th>Lannoituksentarve</th>
        <th>Valontarve</th>
      </tr>
    </thead>
    <tbody>
      {% for plant in c_plants %}
      <tr>
        <td>{{ plant.nimi }}</td>
        <td>{{ plant.nimi_lat }}</td>
        <td>{{ plant.vedentarve }}</td>
        <td>{{ plant.lannoituksentarve }}</td>
        <td>{{ plant.valontarve }}</td>
        <td class="no_border">
          <form class="form-inline" method="GET" action="{{ url_for('categories_delete_plant_connection', plant_id=plant.id, category_id=category_id) }}">
            <div class="input-group">
              <button type="submit" class="btn btn-outline-dark">Poista kategoriasta {{ nimi }}</button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

  <p class="custom_title">
    Kaikki kasvit
  </p>

  <table class="table table-bordered">
    <thead class="font-weight-lighter">
      <tr>
        <th>Kasvi</th>
        <th>Latinankielinen nimi</th>
        <th>Vedentarve</th>
        <th>Lannoituksentarve</th>
        <th>Valontarve</th>
      </tr>
    </thead>
    <tbody>
      {% for plant in plants %}
      <tr>
        <td>{{ plant.nimi }}</td>
        <td>{{ plant.nimi_lat }}</td>
        <td>{{ plant.vedentarve }}</td>
        <td>{{ plant.lannoituksentarve }}</td>
        <td>{{ plant.valontarve }}</td>
        <td class="no_border">
          <form class="form-inline" method="GET" action="{{ url_for('categories_new_plant_connection', plant_id=plant.id, category_id=category_id) }}">
            <div class="input-group">
              <button type="submit" class="btn btn-outline-dark">Lisää kategoriaan {{ nimi }}</button>
            </div>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>

  </table>

{% endblock %}
