{% extends "layout.html" %}

{% block body %}

<style>
  th {
    background-color: #9aad99;
  }
  .custom_title {
    font-size: 30px;
  }
</style>

{{ error }}

<p class="custom_title">
  Muuta kategorian tietoja
</p>

<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-horizontal" method="POST" action="{{ url_for('categories_update', category_id=category_id) }}">

        <div class="form-group">
          <label for="nimi">{{ form.nimi.label }}</label>
          {{ form.nimi(class="form-control") }}
          <ul>
            {% for error in form.nimi.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>

        <div class="form-group">
          <label for="kuvaus">{{ form.kuvaus.label }}</label>
          {{ form.kuvaus(class="form-control") }}
          <ul>
            {% for error in form.kuvaus.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
        </div>

        <button type="submit" class="btn btn-outline-dark">Muuta tietoja</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}
