{% extends "layout.html" %}

{% block body %}
  <style>
    .styled {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
  <table>
    <tr>
      <th class="styled">Kasvi</th>
      <th class="styled">Latinankielinen nimi</th>
      <th class="styled">Vedentarve</th>
      <th class="styled">Lannoituksentarve</th>
      <th class="styled">Valontarve</th>
    </tr>
    {% for plant in plants %}
    <tr>
      <td class="styled">{{ plant.nimi }}</td>
      <td class="styled">{{ plant.nimi_lat }}</td>
      <td class="styled">{{ plant.vedentarve }}</td>
      <td class="styled">{{ plant.lannoituksentarve }}</td>
      <td class="styled">{{ plant.valontarve }}</td>
      <td>
        <form method="GET" action="{{ url_for('plants_update_form', plant_id=plant.id) }}">
          <input type="submit" value="Muuta tietoja"/>
        </form>
      </td>
      <td>
        <form method="POST" action="{{ url_for('plants_delete', plant_id=plant.id) }}">
          <input type="submit" value="Poista"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
